In order to make it easier to merge the election dataset with other datasets, we added FIPS and state abbreviation to the original dataset scrapped from the web pages.

In [1]:
import pandas as pd

This is a state-abbreviation mapping downloaded online.

In [2]:
state_abbr = pd.read_csv('state_abbr.csv')
state_abbr.head()

        State Abbreviation
0     ALABAMA           AL
1      ALASKA           AK
2     ARIZONA           AZ
3    ARKANSAS           AR
4  CALIFORNIA           CA

Here we used the data given in assignment 1 to create FIPS for each county.

In [134]:
data = pd.read_csv('national_county.txt', sep=",", header=None, dtype=object)
data.columns = ["STATE", "STATEFP", "COUNTYFP", "COUNTYNAME","CLASSFP"]
data['FIPS'] = pd.to_numeric(data['STATEFP']+data['COUNTYFP'],\
                             downcast='integer')
data.head()

  STATE STATEFP COUNTYFP      COUNTYNAME CLASSFP  FIPS
0    AL      01      001  Autauga County      H1  1001
1    AL      01      003  Baldwin County      H1  1003
2    AL      01      005  Barbour County      H1  1005
3    AL      01      007     Bibb County      H1  1007
4    AL      01      009   Blount County      H1  1009

In [150]:
data['COUNTY'] = [' '.join(i[0:-1]) for i in data['COUNTYNAME'].str.split(' ')]
data.head()

  STATE STATEFP COUNTYFP      COUNTYNAME CLASSFP  FIPS   COUNTY
0    AL      01      001  Autauga County      H1  1001  Autauga
1    AL      01      003  Baldwin County      H1  1003  Baldwin
2    AL      01      005  Barbour County      H1  1005  Barbour
3    AL      01      007     Bibb County      H1  1007     Bibb
4    AL      01      009   Blount County      H1  1009   Blount

In [149]:
def to_FIPS(path,name):
    Election = pd.read_csv(path)
    Election['state_up'] = Election['state'].str.replace('-', ' ').str.upper()
    Election = Election.merge(state_abbr, left_on='state_up', right_on='State', how='left')
    Election = Election.merge(data, left_on=['Abbreviation','county'], right_on=['STATE','COUNTY'], how='left')
    Election = Election.drop(['state_up','State','STATE','STATEFP','COUNTYFP','COUNTYNAME','CLASSFP','COUNTY'], axis=1)
    Election.to_csv(name)

In [151]:
to_FIPS('elections/2000/general.csv', 'general_FIPS.csv')

In [152]:
to_FIPS('elections/2004/general.csv', 'general_FIPS.csv')

In [153]:
to_FIPS('elections/2012/general.csv', 'general_FIPS.csv')

In [147]:
path = 'elections/2016/general.csv'
Election = pd.read_csv(path)
Election['county'] = [' '.join(i[0:-1]) for i in Election['county'].str.split(' ')]
Election['state_up'] = Election['state'].str.replace('-', ' ').str.upper()
Election = Election.merge(state_abbr, left_on='state_up', right_on='State', how='left')
Election = Election.merge(data, left_on=['Abbreviation','county'], right_on=['STATE','COUNTY'], how='left')
Election = Election.drop(['state_up','State','STATE','STATEFP','COUNTYFP','COUNTYNAME','CLASSFP','COUNTY'], axis=1)
Election.to_csv('general_FIPS.csv')

In [148]:
path = 'elections/2016/primary.csv'
Election = pd.read_csv(path)
Election['county'] = [' '.join(i[0:-1]) for i in Election['county'].str.split(' ')]
Election['state_up'] = Election['state'].str.replace('-', ' ').str.upper()
Election = Election.merge(state_abbr, left_on='state_up', right_on='State', how='left')
Election = Election.merge(data, left_on=['Abbreviation','county'], right_on=['STATE','COUNTY'], how='left')
Election = Election.drop(['state_up','State','STATE','STATEFP','COUNTYFP','COUNTYNAME','CLASSFP','COUNTY'], axis=1)
Election.to_csv('primary_FIPS.csv')

In [156]:
to_FIPS('2008_wiki.csv', '2008_general_wiki.csv')

In [157]:
to_FIPS('2008_NYT.csv', '2008_general_NYT.csv')

Next, we further process the 2008 general dataset. Since the general.csv scrapped from wiki lacks a lot of counties, we scrapped from the NYT website as a complement, and merge the two datasets.

In [158]:
Election = pd.read_csv('2008_general_NYT.csv')
#Election = Election.set_index('FIPS')
Election.head()

,Unnamed: 0,Unnamed: 0.1,state,county,1st,2nd,3rd,votes1,votes2,votes3,pct1,pct2,pct3,party1,party2,party3,Abbreviation,FIPS
0,0,0,Alabama,Autauga,McCain,Obama,NaN,17398,6091,NaN,74.0,26.0,NaN,R,D,NaN,AL,1001.0
1,1,0,Alabama,Baldwin,McCain,Obama,NaN,61192,19362,NaN,75.0,24.0,NaN,R,D,NaN,AL,1003.0
2,2,0,Alabama,Barbour,McCain,Obama,NaN,5862,5685,NaN,51.0,49.0,NaN,R,D,NaN,AL,1005.0
3,3,0,Alabama,Bibb,McCain,Obama,NaN,6247,2289,NaN,73.0,27.0,NaN,R,D,NaN,AL,1007.0
4,4,0,Alabama,Blount,McCain,Obama,NaN,20362,3518,NaN,84.0,15.0,NaN,R,D,NaN,AL,1009.0

In [159]:
Wiki = pd.read_csv('2008_general_wiki.csv')
#Wiki = Wiki.set_index('FIPS')
Wiki.head()

,Unnamed: 0,Unnamed: 0.1,state,county,1st,2nd,3rd,votes1,votes2,votes3,pct1,pct2,pct3,party1,party2,party3,Abbreviation,FIPS
0,0,0,Alabama,17,McCain,Obama,Nader,6093,46,31.0,73.6,25.8,0.2,R,D,O,AL,NaN
1,1,1,Alabama,61,McCain,Obama,Nader,19386,250,220.0,75.3,23.8,0.3,R,D,O,AL,NaN
2,2,2,Alabama,5,McCain,Obama,Nader,5697,21,11.0,50.4,49.0,0.1,R,D,O,AL,NaN
3,3,3,Alabama,6,McCain,Obama,Nader,2299,32,11.0,72.4,26.6,0.4,R,D,O,AL,NaN
4,4,4,Alabama,20,McCain,Obama,Nader,3522,127,81.0,84.0,14.5,0.5,R,D,O,AL,NaN

In [160]:
Election = Election.join(Wiki.party3, lsuffix='_NYT', how='left')
Election = Election.join(Wiki.pct3, lsuffix='_NYT', how='left')
Election = Election.drop(['party3_NYT','pct3_NYT','Unnamed: 0', 'Unnamed: 0.1'], axis=1)
Election.head()

,state,county,1st,2nd,3rd,votes1,votes2,votes3,pct1,pct2,party1,party2,Abbreviation,FIPS,party3,pct3
0,Alabama,Autauga,McCain,Obama,NaN,17398,6091,NaN,74.0,26.0,R,D,AL,1001.0,O,0.2
1,Alabama,Baldwin,McCain,Obama,NaN,61192,19362,NaN,75.0,24.0,R,D,AL,1003.0,O,0.3
2,Alabama,Barbour,McCain,Obama,NaN,5862,5685,NaN,51.0,49.0,R,D,AL,1005.0,O,0.1
3,Alabama,Bibb,McCain,Obama,NaN,6247,2289,NaN,73.0,27.0,R,D,AL,1007.0,O,0.4
4,Alabama,Blount,McCain,Obama,NaN,20362,3518,NaN,84.0,15.0,R,D,AL,1009.0,O,0.5

In [161]:
Election.to_csv('general_FIPS.csv')