In [217]:
import pandas as pd
import numpy as np
import stats as sts

In [218]:
#read analyst actuals file
column_names1 = ['TICKER','ANNDATS','quarternum','earn_value']
df_actual_ern=pd.read_csv("C:/Users/Blair/Downloads/AFE_data/df_actual_ern.csv", header = None, names = column_names1)
#df_actual_ern = pd.read_csv('/Users/Blair/Downloads/AFE_data/df_actual_ern.csv')
#read analyst forecast file
column_names2 = ['TICKER','ANNDATS','quarternum','analyst','forecast_value']
df_aforcast=pd.read_csv("C:/Users/Blair/Downloads/AFE_data/df_aforecast.csv", header = None, names = column_names2)
#df_aforecast = pd.read_csv('/Users/Blair/Downloads/AFE_data/df_aforecast.csv')

In [219]:
#Set Year
df_actual_ern['year'] = df_actual_ern['ANNDATS'].apply(lambda x: str(x)[:4])

df_aforcast['year'] = df_aforcast['ANNDATS'].apply(lambda x: str(x)[:4])

In [220]:
#Merge two datasets
merged = pd.merge(df_aforcast,df_actual_ern,how = 'inner', on = ['TICKER','quarternum','year'])
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value
0,AA,19961231,3,3700,4.3125,1996,19961004,0.5775
1,AA,19961231,3,281,4.1250,1996,19961004,0.5775
2,AA,19961231,3,4088,3.1875,1996,19961004,0.5775
3,AA,19971231,3,662,3.0000,1997,19971006,0.9375
4,AA,19971231,3,472,3.9375,1997,19971006,0.9375

In [221]:
#Surprise Matrics

import numpy as np
merged.index = merged[['TICKER', 'year','quarternum']]

df=merged.reset_index()
merged['meadian']=df.groupby('index').forecast_value.median()
merged['mean']=df.groupby('index').forecast_value.mean()
merged['std']=df.groupby('index').forecast_value.std()
merged['delta_mm']=merged['meadian']-merged['mean']

In [222]:
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm
"(AA, 1996, 3)",AA,19961231,3,3700,4.3125,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500
"(AA, 1996, 3)",AA,19961231,3,281,4.1250,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500
"(AA, 1996, 3)",AA,19961231,3,4088,3.1875,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500
"(AA, 1997, 3)",AA,19971231,3,662,3.0000,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125
"(AA, 1997, 3)",AA,19971231,3,472,3.9375,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125

In [223]:
#Median forecast - actual
merged['surprise_median_fa']=(merged['meadian']-merged['earn_value'])/merged['std']
#Mean forecast - actual
merged['surprise_mean_fa']=(merged['mean']-merged['earn_value'])/merged['std']

In [224]:
#the skewness of the distribution:median_mean
merged['skew']=merged['delta_mm']/merged['delta_mm'].std()
#the kurtosis of the distribution

In [225]:
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm,surprise_median_fa,surprise_mean_fa,skew
"(AA, 1996, 3)",AA,19961231,3,3700,4.3125,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500,5.885738,5.470957,0.47109
"(AA, 1996, 3)",AA,19961231,3,281,4.1250,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500,5.885738,5.470957,0.47109
"(AA, 1996, 3)",AA,19961231,3,4088,3.1875,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500,5.885738,5.470957,0.47109
"(AA, 1997, 3)",AA,19971231,3,662,3.0000,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125,4.934541,5.169519,-0.21199
"(AA, 1997, 3)",AA,19971231,3,472,3.9375,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125,4.934541,5.169519,-0.21199

In [ ]:
merged['kurtosis_mean']=merged['forecast_value']
merged['kurtosis_median']=merged['surprise_median_fa']

●	How do your pre-post earnings price time series from the previous section look as a function of conditioning on different values of the surprise metrics (and distribution metrics) above?

In [ ]:
#This part need to combine with previous work