# Conditioning on Analyst Surprise

In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [97]:
%matplotlib inline

In [98]:
#read analyst actuals file
column_names1 = ['TICKER','ANNDATS','quarternum','earn_value']
df_actual_ern=pd.read_csv("C:/Users/Blair/Downloads/AFE_data/df_actual_ern.csv", header = None, names = column_names1)
#df_actual_ern = pd.read_csv('/Users/Blair/Downloads/AFE_data/df_actual_ern.csv')
#read analyst forecast file
column_names2 = ['TICKER','ANNDATS','quarternum','analyst','forecast_value']
df_aforcast=pd.read_csv("C:/Users/Blair/Downloads/AFE_data/df_aforecast.csv", header = None, names = column_names2)
#df_aforecast = pd.read_csv('/Users/Blair/Downloads/AFE_data/df_aforecast.csv')

In [99]:
df_aforcast.head()

  TICKER   ANNDATS  quarternum  analyst  forecast_value
0   00VP  20151231           3    79876            0.34
1   00VP  20161231           3   149615            1.55
2   00VP  20161231           3   149615            1.49
3   00VP  20161231           3    10258            1.85
4   00VP  20161231           3    10258            1.14

In [100]:
#Set Year
df_actual_ern['year'] = df_actual_ern['ANNDATS'].apply(lambda x: str(x)[:4])

df_aforcast['year'] = df_aforcast['ANNDATS'].apply(lambda x: str(x)[:4])

In [101]:
#Merge two datasets
merged = pd.merge(df_aforcast,df_actual_ern,how = 'inner', on = ['TICKER','quarternum','year'])
merged

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value
0,AA,19961231,3,3700,4.3125,1996,19961004,0.5775
1,AA,19961231,3,281,4.1250,1996,19961004,0.5775
2,AA,19961231,3,4088,3.1875,1996,19961004,0.5775
3,AA,19971231,3,662,3.0000,1997,19971006,0.9375
4,AA,19971231,3,472,3.9375,1997,19971006,0.9375
5,AA,19971231,3,281,3.3000,1997,19971006,0.9375
6,AA,19981231,3,478,3.1275,1998,19981006,0.9075
7,AA,19981231,3,18096,3.2625,1998,19981006,0.9075
8,AA,19981231,3,17860,3.1200,1998,19981006,0.9075
9,AA,19981231,3,281,5.7000,1998,19981006,0.9075
10,AA,19981231,3,1290,1.5000,1998,19981006,0.9075
11,AA,19991231,3,297,2.5500,1999,19991006,1.0350
12,AA,19991231,3,2894,3.8550,1999,19991006,1.0350
13,AA,19991231,3,281,3.6000,1999,19991006,1.0350
14,AA,19991231,3,56581,4.3500,1999,19991006,1.0350
15,AA,19991231,3,610,3.9750,1999,19991006,1.0350
16,AA,20001231,3,281,6.3000,2000,20001005,1.2600
17,AA,20001231,3,40365,6.4500,2000,20001005,1.2600
18,AA,20001231,3,472,3.9750,2000,20001005,1.2600
19,AA,20001231,3,2894,6.1500,2000,20001005,1.2600
20,AA,20001231,3,478,6.0000,2000,20001005,1.2600
21,AA,20001231,3,18663,6.0000,2000,20001005,1.2600
22,AA,20001231,3,610,5.5500,2000,20001005,1.2600
23,AA,20011231,3,610,6.4500,2001,20011004,1.1700
24,AA,20011231,3,49831,7.4400,2001,20011004,1.1700
25,AA,20011231,3,103189,5.5500,2001,20011004,1.1700
26,AA,20011231,3,49831,4.9800,2001,20011004,1.1700
27,AA,20011231,3,40316,5.0400,2001,20011004,1.1700
28,AA,20031231,3,478,2.8500,2003,20031007,0.9900
29,AA,20031231,3,75066,3.1500,2003,20031007,0.9900
...,...,...,...,...,...,...,...,...
69935,ZION,20151231,3,108927,1.5300,2015,20151019,0.4100
69936,ZION,20151231,3,130019,1.6000,2015,20151019,0.4100
69937,ZION,20151231,3,108927,1.2100,2015,20151019,0.4100
69938,ZION,20151231,3,77416,1.6700,2015,20151019,0.4100
69939,ZION,20151231,3,130019,1.6500,2015,20151019,0.4100
69940,ZION,20151231,3,77416,1.6300,2015,20151019,0.4100
69941,ZION,20151231,3,171312,1.6650,2015,20151019,0.4100
69942,ZION,20151231,3,130019,0.9300,2015,20151019,0.4100
69943,ZION,20151231,3,114472,1.5900,2015,20151019,0.4100
69944,ZION,20151231,3,179399,1.6300,2015,20151019,0.4100
69945,ZION,20151231,3,171312,1.6380,2015,20151019,0.4100
69946,ZION,20151231,3,101720,1.5300,2015,20151019,0.4100
69947,ZION,20151231,3,86880,1.6000,2015,20151019,0.4100
69948,ZION,20151231,3,179399,1.6100,2015,20151019,0.4100
69949,ZION,20151231,3,171312,1.6180,2015,20151019,0.4100
69950,ZION,20151231,3,86880,1.5700,2015,20151019,0.4100
69951,ZION,20161231,3,130019,1.8500,2016,20161024,0.5700
69952,ZION,20161231,3,113163,1.8500,2016,20161024,0.5700
69953,ZION,20161231,3,114472,1.9000,2016,20161024,0.5700
69954,ZION,20161231,3,186094,1.9800,2016,20161024,0.5700
69955,ZION,20161231,3,130019,1.7500,2016,20161024,0.5700
69956,ZION,20161231,3,124345,1.8300,2016,20161024,0.5700
69957,ZION,20161231,3,9909,1.7900,2016,20161024,0.5700
69958,ZION,20161231,3,179399,1.9200,2016,20161024,0.5700
69959,ZION,20161231,3,179399,1.9500,2016,20161024,0.5700
69960,ZION,20161231,3,114472,1.8600,2016,20161024,0.5700
69961,ZION,20161231,3,159771,1.9010,2016,20161024,0.5700
69962,ZION,20161231,3,179399,1.9700,2016,20161024,0.5700
69963,ZION,20161231,3,114472,1.9600,2016,20161024,0.5700
69964,ZION,20161231,3,179399,1.9800,2016,20161024,0.5700

## Surprise Matrics

In [102]:
#Surprise Matrics

merged.index = merged[['TICKER', 'year','quarternum']]

df=merged.reset_index()
merged['meadian']=df.groupby('index').forecast_value.median()
merged['mean']=df.groupby('index').forecast_value.mean()
merged['std']=df.groupby('index').forecast_value.std()
merged['delta_mm']=merged['meadian']-merged['mean']

In [103]:
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm
"(AA, 1996, 3)",AA,19961231,3,3700,4.3125,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500
"(AA, 1996, 3)",AA,19961231,3,281,4.1250,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500
"(AA, 1996, 3)",AA,19961231,3,4088,3.1875,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500
"(AA, 1997, 3)",AA,19971231,3,662,3.0000,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125
"(AA, 1997, 3)",AA,19971231,3,472,3.9375,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125

In [104]:
#Median forecast - actual
merged['surprise_median_fa']=(merged['earn_value']-merged['meadian'])/merged['std']
#Mean forecast - actual
merged['surprise_mean_fa']=(merged['earn_value']-merged['mean'])/merged['std']

## Distribution metrics

In [105]:
#the skewness of the distribution:median_mean
merged['skew']=merged['delta_mm']/merged['delta_mm'].std()
#the kurtosis of the distribution
df=merged.reset_index()
merged['kurtosis']=df.groupby('index').forecast_value.median()

In [106]:
merged.head()

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm,surprise_median_fa,surprise_mean_fa,skew,kurtosis
"(AA, 1996, 3)",AA,19961231,3,3700,4.3125,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500,-5.885738,-5.470957,0.47109,4.125
"(AA, 1996, 3)",AA,19961231,3,281,4.1250,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500,-5.885738,-5.470957,0.47109,4.125
"(AA, 1996, 3)",AA,19961231,3,4088,3.1875,1996,19961004,0.5775,4.125,3.8750,0.602728,0.2500,-5.885738,-5.470957,0.47109,4.125
"(AA, 1997, 3)",AA,19971231,3,662,3.0000,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125,-4.934541,-5.169519,-0.21199,3.300
"(AA, 1997, 3)",AA,19971231,3,472,3.9375,1997,19971006,0.9375,3.300,3.4125,0.478768,-0.1125,-4.934541,-5.169519,-0.21199,3.300

In [107]:
merged['kurtosis'].describe()

count    69965.000000
mean         2.664048
std          4.541520
min        -63.975000
25%          1.075000
50%          2.030000
75%          3.500000
max        124.800000
Name: kurtosis, dtype: float64

In [108]:
# Windows specific causes issues on linux

# merged['kurtosis'].hist(bins=100)
# plt.axvline(3, color='r')
# plt.text(15, 8000, 'leptokurtic')
# plt.text(-5, 14000,'platykurtic')

In [109]:
merged['skew'].describe()

count    69965.000000
mean         0.034662
std          1.000000
min        -16.694023
25%         -0.063440
50%          0.000000
75%          0.066207
max         54.791356
Name: skew, dtype: float64

### How do your pre-post earnings price time series from the previous section look as a function of conditioning on different values of the surprise metrics (and distribution metrics) above?

In [110]:
#This part need to combine with previous work

# Train Predictive Models

## Stylized surprise metrics dataset

### You will use as input the different metrics of the analyst distribution and its surprise metrics that you calculated for every earnings event in the previous section. As output variable you will use a categorical variable y which is 1 every time the 10-day post-earnings stock return is in the top 10% or bottom 10% for the given quarter.

In [111]:
#read daily price file
df_prc_dist=pd.read_csv("C:/Users/Blair/Downloads/AFE_data/df_prc_dist.csv")
#set year
df_prc_dist['year'] = df_prc_dist['ANNDATS'].apply(lambda x: str(x)[:4])

In [112]:
#Build the new dataset to calculate the 10 days return
df_prc_dist['delta_return']=df_prc_dist['10']-df_prc_dist['0']
df_prc_dist1=df_prc_dist[['delta_return','TICKER','quarternum','year']]
df_prc_dist1.head()

   delta_return TICKER  quarternum  year
0           NaN     AA           1  1983
1         37.00     AA           2  1983
2         40.25     AA           3  1983
3         39.50     AA           0  1984
4           NaN     AA           1  1984

In [114]:
#Build stylized surprise metrics dataset
surprise_df = pd.DataFrame()
surprise_df['surprise_median_fa']=merged['surprise_median_fa']
surprise_df['surprise_mean_fa']=merged['surprise_mean_fa']
surprise_df['TICKER']=merged['TICKER']
surprise_df['year']=merged['year']
surprise_df['quarternum']=merged['quarternum']
surprise_df['Skew']=merged['skew']
surprise_df['Kurtosis']=merged['kurtosis']
surprise_df1 = pd.merge(surprise_df,df_prc_dist1,how = 'inner', on = ['TICKER','quarternum','year'])
surprise_df1.index = surprise_df1[['year','quarternum']]
surprise_df1= surprise_df1[np.isfinite(surprise_df1['delta_return'])]
surprise_df1.head()

,surprise_median_fa,surprise_mean_fa,TICKER,year,quarternum,Skew,Kurtosis,delta_return
"(1996, 3)",-5.885738,-5.470957,AA,1996,3,0.47109,4.125,57.3750
"(1996, 3)",-5.885738,-5.470957,AA,1996,3,0.47109,4.125,57.3750
"(1996, 3)",-5.885738,-5.470957,AA,1996,3,0.47109,4.125,57.3750
"(1997, 3)",-4.934541,-5.169519,AA,1997,3,-0.21199,3.300,78.5625
"(1997, 3)",-4.934541,-5.169519,AA,1997,3,-0.21199,3.300,78.5625

In [115]:
surprise_df1=surprise_df1.join(surprise_df1.groupby(['year','quarternum'])['delta_return'].quantile(0.1), on=('year','quarternum'), rsuffix='_bottom10')
surprise_df1=surprise_df1.join(surprise_df1.groupby(['year','quarternum'])['delta_return'].quantile(0.9), on=('year','quarternum'), rsuffix='_top10')

In [116]:
surprise_df1['Y']= np.where((surprise_df1['delta_return']>surprise_df1['delta_return_top10'])|(surprise_df1['delta_return']<=surprise_df1['delta_return_bottom10']), '1', '0')

In [117]:
del surprise_df1['delta_return_bottom10']
del surprise_df1['delta_return_top10']

In [118]:
surprise_df1.head()

,surprise_median_fa,surprise_mean_fa,TICKER,year,quarternum,Skew,Kurtosis,delta_return,Y
"(1996, 3)",-5.885738,-5.470957,AA,1996,3,0.47109,4.125,57.3750,0
"(1996, 3)",-5.885738,-5.470957,AA,1996,3,0.47109,4.125,57.3750,0
"(1996, 3)",-5.885738,-5.470957,AA,1996,3,0.47109,4.125,57.3750,0
"(1997, 3)",-4.934541,-5.169519,AA,1997,3,-0.21199,3.300,78.5625,0
"(1997, 3)",-4.934541,-5.169519,AA,1997,3,-0.21199,3.300,78.5625,0

## Full distribution dataset.

### ○	Your input features are 
■	The relative proportions of number analysts in each of the 10 quantiles of the forecast distribution. The sum of these proportions should be 1
■	The total number of analysts in this distribution
■	The standard deviation of this distribution
■	The full range of the distribution, e.g the max_forecast-
■	The actual earning announcement value
○	The output feature y is again 1 every time the 10-day post-earnings stock return is in the top 10% or bottom 10% of the given quarter.

In [119]:
surprise_df2=merged

In [120]:
surprise_df2

,TICKER,ANNDATS_x,quarternum,analyst,forecast_value,year,ANNDATS_y,earn_value,meadian,mean,std,delta_mm,surprise_median_fa,surprise_mean_fa,skew,kurtosis
"(AA, 1996, 3)",AA,19961231,3,3700,4.3125,1996,19961004,0.5775,4.1250,3.875000,0.602728,0.250000,-5.885738,-5.470957,0.471090,4.1250
"(AA, 1996, 3)",AA,19961231,3,281,4.1250,1996,19961004,0.5775,4.1250,3.875000,0.602728,0.250000,-5.885738,-5.470957,0.471090,4.1250
"(AA, 1996, 3)",AA,19961231,3,4088,3.1875,1996,19961004,0.5775,4.1250,3.875000,0.602728,0.250000,-5.885738,-5.470957,0.471090,4.1250
"(AA, 1997, 3)",AA,19971231,3,662,3.0000,1997,19971006,0.9375,3.3000,3.412500,0.478768,-0.112500,-4.934541,-5.169519,-0.211990,3.3000
"(AA, 1997, 3)",AA,19971231,3,472,3.9375,1997,19971006,0.9375,3.3000,3.412500,0.478768,-0.112500,-4.934541,-5.169519,-0.211990,3.3000
"(AA, 1997, 3)",AA,19971231,3,281,3.3000,1997,19971006,0.9375,3.3000,3.412500,0.478768,-0.112500,-4.934541,-5.169519,-0.211990,3.3000
"(AA, 1998, 3)",AA,19981231,3,478,3.1275,1998,19981006,0.9075,3.1275,3.342000,1.504555,-0.214500,-1.475519,-1.618086,-0.404195,3.1275
"(AA, 1998, 3)",AA,19981231,3,18096,3.2625,1998,19981006,0.9075,3.1275,3.342000,1.504555,-0.214500,-1.475519,-1.618086,-0.404195,3.1275
"(AA, 1998, 3)",AA,19981231,3,17860,3.1200,1998,19981006,0.9075,3.1275,3.342000,1.504555,-0.214500,-1.475519,-1.618086,-0.404195,3.1275
"(AA, 1998, 3)",AA,19981231,3,281,5.7000,1998,19981006,0.9075,3.1275,3.342000,1.504555,-0.214500,-1.475519,-1.618086,-0.404195,3.1275
"(AA, 1998, 3)",AA,19981231,3,1290,1.5000,1998,19981006,0.9075,3.1275,3.342000,1.504555,-0.214500,-1.475519,-1.618086,-0.404195,3.1275
"(AA, 1999, 3)",AA,19991231,3,297,2.5500,1999,19991006,1.0350,3.8550,3.666000,0.679866,0.189000,-4.147877,-3.869881,0.356144,3.8550
"(AA, 1999, 3)",AA,19991231,3,2894,3.8550,1999,19991006,1.0350,3.8550,3.666000,0.679866,0.189000,-4.147877,-3.869881,0.356144,3.8550
"(AA, 1999, 3)",AA,19991231,3,281,3.6000,1999,19991006,1.0350,3.8550,3.666000,0.679866,0.189000,-4.147877,-3.869881,0.356144,3.8550
"(AA, 1999, 3)",AA,19991231,3,56581,4.3500,1999,19991006,1.0350,3.8550,3.666000,0.679866,0.189000,-4.147877,-3.869881,0.356144,3.8550
"(AA, 1999, 3)",AA,19991231,3,610,3.9750,1999,19991006,1.0350,3.8550,3.666000,0.679866,0.189000,-4.147877,-3.869881,0.356144,3.8550
"(AA, 2000, 3)",AA,20001231,3,281,6.3000,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2000, 3)",AA,20001231,3,40365,6.4500,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2000, 3)",AA,20001231,3,472,3.9750,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2000, 3)",AA,20001231,3,2894,6.1500,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2000, 3)",AA,20001231,3,478,6.0000,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2000, 3)",AA,20001231,3,18663,6.0000,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2000, 3)",AA,20001231,3,610,5.5500,2000,20001005,1.2600,6.0000,5.775000,0.842986,0.225000,-5.622871,-5.355962,0.423981,6.0000
"(AA, 2001, 3)",AA,20011231,3,610,6.4500,2001,20011004,1.1700,5.5500,5.892000,1.046695,-0.342000,-4.184601,-4.511344,-0.644451,5.5500
"(AA, 2001, 3)",AA,20011231,3,49831,7.4400,2001,20011004,1.1700,5.5500,5.892000,1.046695,-0.342000,-4.184601,-4.511344,-0.644451,5.5500
"(AA, 2001, 3)",AA,20011231,3,103189,5.5500,2001,20011004,1.1700,5.5500,5.892000,1.046695,-0.342000,-4.184601,-4.511344,-0.644451,5.5500
"(AA, 2001, 3)",AA,20011231,3,49831,4.9800,2001,20011004,1.1700,5.5500,5.892000,1.046695,-0.342000,-4.184601,-4.511344,-0.644451,5.5500
"(AA, 2001, 3)",AA,20011231,3,40316,5.0400,2001,20011004,1.1700,5.5500,5.892000,1.046695,-0.342000,-4.184601,-4.511344,-0.644451,5.5500
"(AA, 2003, 3)",AA,20031231,3,478,2.8500,2003,20031007,0.9900,3.1500,3.050000,0.173205,0.100000,-12.470766,-11.893416,0.188436,3.1500
"(AA, 2003, 3)",AA,20031231,3,75066,3.1500,2003,20031007,0.9900,3.1500,3.050000,0.173205,0.100000,-12.470766,-11.893416,0.188436,3.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(ZION, 2015, 3)",ZION,20151231,3,108927,1.5300,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,130019,1.6000,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,108927,1.2100,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,77416,1.6700,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,130019,1.6500,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,77416,1.6300,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,171312,1.6650,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,130019,0.9300,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,114472,1.5900,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,179399,1.6300,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,171312,1.6380,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,101720,1.5300,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,86880,1.6000,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,179399,1.6100,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,171312,1.6180,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2015, 3)",ZION,20151231,3,86880,1.5700,2015,20151019,0.4100,1.6000,1.567435,0.172007,0.032565,-6.918320,-6.728995,0.061365,1.6000
"(ZION, 2016, 3)",ZION,20161231,3,130019,1.8500,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,113163,1.8500,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,114472,1.9000,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,186094,1.9800,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,130019,1.7500,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,124345,1.8300,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,9909,1.7900,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,179399,1.9200,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,179399,1.9500,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,114472,1.8600,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,159771,1.9010,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,179399,1.9700,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,114472,1.9600,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005
"(ZION, 2016, 3)",ZION,20161231,3,179399,1.9800,2016,20161024,0.5700,1.9005,1.892214,0.073092,0.008286,-18.203004,-18.089644,0.015613,1.9005

In [121]:
# del superised_df2['skew']
# del superised_df2['kurtosis']
# del superised_df2['surprise_median_fa']
# del superised_df2['surprise_mean_fa']
# del superised_df2['ANNDATS_y']
# del superised_df2['delta_mm']
# del superised_df2['meadian']
# del superised_df2['mean']
# #del superised_df2['std']
# del superised_df2['ANNDATS_x']

surprise_df2 = surprise_df2[['TICKER', 'quarternum', 'analyst', 'forecast_value', 'year',
       'earn_value', 'std']]

In [122]:
# The total number of analysts in this distribution
surprise_df2['Analyst_Counts'] = surprise_df2.groupby(surprise_df2.index)['analyst'].transform('count')

C:\Users\Blair\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [123]:
#The full range of the distribution, e.g the max_forecast-min_forecast 

surprise_df2_mm=surprise_df2.reset_index()
surprise_df2['Max']=surprise_df2_mm.groupby('index').forecast_value.max()
surprise_df2['Min']=surprise_df2_mm.groupby('index').forecast_value.min()
surprise_df2['the max_forecast-min_forecast']=(surprise_df2['Max']-surprise_df2['Min'])
#del surprise_df2['Max']
#del surprise_df2['Min']
#The standard deviation of this distribution
#superised_df2['std']=superised_df2.groupby(superised_df2.index).forecast_value.std()

C:\Users\Blair\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Blair\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Blair\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [125]:
surprise_df2 = pd.merge(surprise_df2,df_prc_dist1,how = 'inner', on = ['TICKER','quarternum','year'])

In [126]:
surprise_df2=surprise_df2.join(surprise_df2.groupby(['year','quarternum'])['delta_return'].quantile(0.1), on=('year','quarternum'), rsuffix='_bottom10')
surprise_df2=surprise_df2.join(surprise_df2.groupby(['year','quarternum'])['delta_return'].quantile(0.9), on=('year','quarternum'), rsuffix='_top10')

In [127]:
surprise_df2['Y']= np.where((surprise_df2['delta_return']>surprise_df2['delta_return_top10'])|(surprise_df2['delta_return']<=surprise_df2['delta_return_bottom10']), '1', '0')

In [204]:
#The relative proportions of number analysts in each of the 10 quantiles of the forecast distribution. The sum of these proportions should be 1

#surprise_df2["forecast_value"].quantile(0.1)

In [174]:
#del surprise_df2['delta_return_bottom10']
#del surprise_df2['delta_return_top10']
# The total number of analysts in this distribution
surprise_df2.head()

,TICKER,quarternum,analyst,forecast_value,year,earn_value,std,Analyst_Counts,Max,Min,the max_forecast-min_forecast,delta_return,Y
id,,,,,,,,,,,,,
AA31996,AA,3,3700,4.3125,1996,0.5775,0.602728,3,4.3125,3.1875,1.1250,57.3750,0
AA31996,AA,3,281,4.1250,1996,0.5775,0.602728,3,4.3125,3.1875,1.1250,57.3750,0
AA31996,AA,3,4088,3.1875,1996,0.5775,0.602728,3,4.3125,3.1875,1.1250,57.3750,0
AA31997,AA,3,662,3.0000,1997,0.9375,0.478768,3,3.9375,3.0000,0.9375,78.5625,0
AA31997,AA,3,472,3.9375,1997,0.9375,0.478768,3,3.9375,3.0000,0.9375,78.5625,0

In [177]:
surprise_df2['id'] =  surprise_df2[['TICKER', 'quarternum', 'year']].values.tolist()

surprise_df2['id'] = surprise_df2['id'].apply(lambda x: str(x[0])+str(x[1])+str(x[2]))
surprise_df2.set_index('id', inplace = True)                       


bins = {}
for x in surprise_df2.groupby('id').forecast_value:
    d = pd.cut(x[1],10)
    bins[x[0]] = x[1].groupby([d]).count().values
df_bins = pd.DataFrame(bins).T
df_bins.columns = ['quantile_0','quantile_10', 'quantile_20', 'quantile_30','quantile_40','quantile_50','quantile_60','quantile_70','quantile_80','quantile_90']
df_bins['count_quantile']=df_bins.sum(axis=1)

In [178]:
df_bins['count_quantile']=df_bins.sum(axis=1)

df_bins['quantile_0']=df_bins['quantile_0']/df_bins['count_quantile']
df_bins['quantile_10']=df_bins['quantile_10']/df_bins['count_quantile']
df_bins['quantile_20']=df_bins['quantile_20']/df_bins['count_quantile']
df_bins['quantile_30']=df_bins['quantile_30']/df_bins['count_quantile']
df_bins['quantile_40']=df_bins['quantile_40']/df_bins['count_quantile']
df_bins['quantile_50']=df_bins['quantile_50']/df_bins['count_quantile']
df_bins['quantile_60']=df_bins['quantile_60']/df_bins['count_quantile']
df_bins['quantile_70']=df_bins['quantile_70']/df_bins['count_quantile']
df_bins['quantile_80']=df_bins['quantile_80']/df_bins['count_quantile']
df_bins['quantile_90']=df_bins['quantile_90']/df_bins['count_quantile']

In [181]:
#del df_bins['count_quantile']
df_bins.head()

,quantile_0,quantile_10,quantile_20,quantile_30,quantile_40,quantile_50,quantile_60,quantile_70,quantile_80,quantile_90
AA31996,0.166667,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.166667,0.166667
AA31997,0.166667,0.0,0.0,0.166667,0.0,0.0,0.000000,0.0,0.000000,0.166667
AA31998,0.100000,0.0,0.0,0.200000,0.1,0.0,0.000000,0.0,0.000000,0.100000
AA31999,0.100000,0.0,0.0,0.000000,0.0,0.1,0.000000,0.2,0.000000,0.100000
AA32000,0.071429,0.0,0.0,0.000000,0.0,0.0,0.071429,0.0,0.214286,0.142857

In [188]:
surprise_df2=pd.merge(surprise_df2, df_bins, left_index=True, right_index=True)

In [191]:
surprise_df2.head()

,TICKER,quarternum,analyst,forecast_value,year,earn_value,std,Analyst_Counts,Max,Min,...,quantile_0,quantile_10,quantile_20,quantile_30,quantile_40,quantile_50,quantile_60,quantile_70,quantile_80,quantile_90
AA31996,AA,3,3700,4.3125,1996,0.5775,0.602728,3,4.3125,3.1875,...,0.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.166667,0.166667
AA31996,AA,3,281,4.1250,1996,0.5775,0.602728,3,4.3125,3.1875,...,0.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.166667,0.166667
AA31996,AA,3,4088,3.1875,1996,0.5775,0.602728,3,4.3125,3.1875,...,0.166667,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.166667,0.166667
AA31997,AA,3,662,3.0000,1997,0.9375,0.478768,3,3.9375,3.0000,...,0.166667,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.000000,0.166667
AA31997,AA,3,472,3.9375,1997,0.9375,0.478768,3,3.9375,3.0000,...,0.166667,0.0,0.0,0.166667,0.0,0.0,0.0,0.0,0.000000,0.166667

In [190]:
surprise_df2.columns

Index(['TICKER', 'quarternum', 'analyst', 'forecast_value', 'year',
       'earn_value', 'std', 'Analyst_Counts', 'Max', 'Min',
       'the max_forecast-min_forecast', 'delta_return', 'Y', 'quantile_0',
       'quantile_10', 'quantile_20', 'quantile_30', 'quantile_40',
       'quantile_50', 'quantile_60', 'quantile_70', 'quantile_80',
       'quantile_90'],
      dtype='object')

In [ ]:
superised_df2.to_csv('surprise_df2.csv')

# Train Model

In [ ]:
#Train Stylized surprise metrics dataset
surprise_df1()

In [ ]:

from sklearn.linear_model import SGDClassifier
X = 
y = 
clf = SGDClassifier(loss="hinge", penalty="l2")
clf.fit(X, y)
SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', n_iter=5, n_jobs=1,
       penalty='l2', power_t=0.5, random_state=None, shuffle=True,
       verbose=0, warm_start=False)